a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.brands {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 89px;
}
.brands__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.brands__item-img {
  width: 260px;
  height: 100px;
  filter: grayscale(100%) opacity(20%);
  transition: filter 0.4s;
}
.brands__item:hover .brands__item-img {
  filter: grayscale(0%) opacity(100%);
}
