/* Общие стили */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  color: #000;
  background-color: #fff;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Хэдер */
.site-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
}
.site-logo:hover {
  opacity: .6;
}
.site-logo:active {
  opacity: .3;
}
.search-form>input {
  border: none;
  background-color: inherit;
}
.search-form>input::placeholder {
  opacity: .3;
}
.search-form:hover input::placeholder {
  opacity: .6;
}
.search-form>input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
.search-btn {
  border: 1px solid black;
  opacity: 0.0;
  cursor: pointer;
  background-color:inherit;
}
.search-form>input:focus ~.search-btn {
  opacity:1;
}
.search-btn:hover {
  opacity:1;
  background-color: #000;
  color:#fff;
}
.search-btn:active {
  opacity:1;
  background-color: #000;
  color: rgba(255,255,255,0.3);
}
.user-navigation {
  list-style-type: none;
}
.site-navigation {
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.site-navigation__catalog {
  list-style-type: none;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.user-navigation>li>a:hover, .site-navigation>li>a:hover,
.site-navigation__catalog>li:hover {
  opacity: .6;
}
.user-navigation>li>a:active, .site-navigation>li>a:active,
.site-navigation__catalog>li:active {
  opacity: .3;
}
.main-header {
  background-color: #f7e196;
}
/* Бади */
.promo-item__number {
  font-size: 179px;
  letter-spacing: 2px;
  line-height: 179px;
  color: #EEE;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.promo-item__slogan {
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.promo-item__desc {
  color: rgb(70,70,70)
}
.btn_style {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  background-color: #f0c42e;
  border: none;
}
.promo-item__table th {
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
}
.promo-item__table td {
  font-size: 13px;
  line-height: 20px;
  color: rgb(70,70,70);
}
.categories-list>li {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  background-color: #f7e196;
}
.categories-list>li:hover, .categories-list>li:focus,
.categories-list>li:active {
  background-color: #f0c42e;
}
.categories-list a:active img, .categories-list a:active p{
  opacity: .3;
}
.services-item__name {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.services-item__desc {
  color: rgb(70,70,70);
}
.brands__logo {
  filter: grayscale(100%) opacity(20%);
}
.brands__logo:hover {
  filter: grayscale(0%) opacity(100%);
}
.about-us>ul {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.about-us>p, .contacts>p {
  color: rgb(70,70,70)
}
/* Футер */
.main-footer {
  background-color: #454545;
  color: #ffffff;
}
.main-footer .site-logo {
  color: #ffc600;
}
.footer>.user-navigation>li {
  opacity: .7;
}
.footer>.user-navigation>li:hover {
  opacity: 1;
}
.footer>.user-navigation>li:active {
  opacity: .3;
}
.footer>.site-navigation {
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.footer>.site-navigation>li:hover {
  opacity: .6;
}
.footer>.site-navigation>li:active {
  opacity: .3;
}
.social-links ul {
  list-style-type: none;
}
.social-links img {
  opacity: .3;
}
.social-links img:hover {
  opacity: .6;
}
.social-links img:active {
  opacity: .1;
}
.copyright:hover {
  opacity:.6;
}
.copyright:active {
  opacity:.3;
}
/* Модальные окна */
.modal-write-us label{
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.modal-write-us input{
  background-color: #f2f2f2;
  border:none;
}
.modal-write-us input::placeholder{
  font-size: 14px;
  line-height: 18px;
  color: rgb(70,70,70);
  opacity: .4;
}
.modal-write-us input:hover{
  background-color: #eaeaea;
}
.modal-write-us input:focus{
  background-color: inherit;
  outline: 3px solid #f7e296;
}
.modal-write-us input:invalid{
  background-color: #f5d9d9;
}
.btn-close{
  opacity:.5;
  border:none;
  outline: none;
}
.btn-close:hover{
  opacity:1;
}
.btn-close:active{
  opacity:.3;
}
