body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  color: #000;
  background-color: #fff;
}
a {
  text-decoration: none;
}
a:visited {
  color: #000;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.header-logo {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
}
.header-search>input{
  border: none;
  background-color: inherit;
}
.header-search>input::placeholder{
  opacity: .3;
}
.header-search:hover input::placeholder {
  opacity: .6;
}
.header-search>input:focus{
  outline: none;
  border-bottom: 1px solid black;
}
.search-submit {
  border: 1px solid black;
  opacity: 0.0;
  cursor: pointer;
  background-color:inherit;
}
.header-search>input:focus ~button{
  opacity:1;
}
.search-submit:hover{
  opacity:1;
  background-color: #000;
  color:#fff;
}
.search-submit:active{
  opacity:1;
  background-color: #000;
  color: rgba(255,255,255,0.3);
}

.header-nav-user {
  list-style-type: none;
}
.header-nav-user>li:hover, .header-nav-site>li:hover {
  opacity: .6;
}
.header-nav-user>li:active, .header-nav-site>li:active{
  opacity: .3;
}
.header-nav-site {
  list-style-type: none;
}
.main-header {
  background-color: #f7e196;
}
.promo-slider-item-id {
  font-size: 179px;
  letter-spacing: 2px;
  line-height: 179px;
  color: #EEE;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
}
.promo-slider-slogan {
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy";
  font-weight: 800;
}
.promo-slider-desc{
  color: rgb(70,70,70)
}
.button-main-style, .slide-radio {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  background-color: #f0c42e;
}
.promo-slider-table th{
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 300;
}
.promo-slider-table td{
  font-size: 13px;
  line-height: 20px;
  color: rgb(70,70,70);
}
.catalog-main-list>li{
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 800;
  background-color: #f7e196;
}
.catalog-main-list>li:hover, .catalog-main-list>li:focus,
.catalog-main-list>li:active{
  background-color: #f0c42e;
}
.catalog-main-list a:active img, .catalog-main-list a:active p{
  opacity: .3;
}
.slide
