// Общие стили:
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  color: #000;
  background-color: #fff;
}
a {
  text-decoration: none;
  &:link {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.btn_style {
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  background-color: #f0c42e;
  border: none;
}
// Хэдер:
.main-header {
  background-color: #f7e196;
}
.site-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  &:hover {
    opacity: .6;
  }
  &:active {
    opacity: .3;
  }
}
.search-form {
  &__input {
    border: none;
    background-color: inherit;
    &::placeholder {
      opacity: 6;
    }
    &:focus {
      outline: none;
      border-bottom: 1px solid black;
      ~.search-form__btn {
        opacity: 1;
      }
    }
  }
  &:hover &__input::placeholder {
    opacity: 6;
  }
  &__btn {
    border: 1px solid black;
    opacity: 0.0;
    cursor: pointer;
    background-color:inherit;
    &:hover {
      opacity: 1;
      background-color: #000;
      color: #fff;
    }
    &:active {
      opacity:1;
      background-color: #000;
      color: rgba(255,255,255,0.3);
    }
  }
}
.user-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &__item {
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: .3;
    }
  }
}
.site-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  &__catalog_key:hover &__catalog {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  &__item {
    &:hover {
      opacity: .6;
    }
    &:active {
      opacity: .3;
    }
  }

  &__catalog {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    li {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 200px;
    }
    a {
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: .3;
      }
    }
  }
}

// Контент:
.promo {
  .promo-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .promo-item {
      &__number {
        font-size: 179px;
        letter-spacing: 2px;
        line-height: 179px;
        color: #FFF;
        font-family: "Gilroy", Arial, sans-serif;
        font-weight: 800;
      }
      &__slogan {
        font-size: 47px;
        line-height: 56px;
        font-family: "Gilroy", Arial, sans-serif;
        font-weight: 800;
      }
      &__desc {
        color: rgb(70,70,70)
      }
      &__table {
        th {
          font-size: 36px;
          line-height: 48px;
          font-family: "Gilroy", Arial, sans-serif;
          font-weight: 300;
        }
        td {
          font-size: 13px;
          line-height: 20px;
          color: rgb(70,70,70);
        }
      }
    }
  }
}

.categories {
  .categories-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .categories-item {
      font-size: 18px;
      line-height: 24px;
      font-family: "Gilroy", Arial, sans-serif;
      font-weight: 800;
    }
  }
}

.services {
  .services-item {
    &__name {
      font-size: 47px;
      line-height: 48px;
      font-family: "Gilroy", Arial, sans-serif;
      font-weight: 800;
    }
    &__desc {
      color: rgb(70,70,70);
    }
  }
}

.brands {
  .brands-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    &__item {
      filter: grayscale(100%) opacity(20%);
      &:hover {
        filter: grayscale(0%) opacity(100%);
      }
    }
  }
}
.about-us {
  h2 {
    font-size: 47px;
    line-height: 48px;
    font-family: "Gilroy";
    font-weight: 800;
  }
  &__delivery-services {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
  }
  p {
    color: rgb(70,70,70)
  }
}
.contacts {
  h2 {
    font-size: 47px;
    line-height: 48px;
    font-family: "Gilroy";
    font-weight: 800;
  }
  p {
    color: rgb(70,70,70)
  }
}
// Футер:
.main-footer {
  background-color: #454545;
  color: #ffffff;
  .site-logo {
    color: #ffc600;
  }
  .user-nav {
    &__item {
      opacity: .7;
      &:hover {
        opacity: 1;
      }
      &:active {
        opacity: .3;
      }
    }
  }
  .site-nav {
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 3.6px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    &__item {
      &:hover {
        opacity: .6;
      }
      &:active {
        opacity: .3;
      }
    }
  }
}
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &__link {
    img {
      opacity: .3;
      &:hover {
        opacity: .6;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}
.copyright {
  &:hover {
    opacity: .6;
  }
  &:active {
    opacity: .3;
  }
}
// Модальные окна:
.modal {
  &-write-us {
    &__form {
      label {
        font-size: 18px;
        line-height: 24px;
        font-family: "Gilroy", Arial, sans-serif;
        font-weight: 800;
      }
      input {
        background-color: #f2f2f2;
        border:none;
        &::placeholder {
          font-size: 14px;
          line-height: 18px;
          color: rgb(70,70,70);
          opacity: .4;
        }
        &:hover {
          background-color: #eaeaea;
        }
        &:focus {
          background-color: inherit;
          outline: 3px solid #f7e296;
        }
        &:invalid {
          background-color: #f5d9d9;
        }
      }
    }
  }
  .btn-close {
    opacity:.5;
    border:none;
    outline: none;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: .3;
    }
  }
}
// Разметка:
body {
  min-width: 1200px;
  height: 2800px;
}

.main-header {
  height: 300px;
  background-color: #f7e196;
  margin-top: 40px !important;
  position: relative;
}
.container {
  width: 1160px;
  padding: 0;
  margin: 0 auto;
  border: 1px solid red;
}
.container_small {
    width: 1040px;
    padding: 0;
    margin: 0 auto;
    border: 1px dotted red;
}
.main-nav{
  padding-top: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  .site-logo {
    position: absolute;
    top: -25px;
    left: 58px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    height: 50px;
    .search-form {
      width: 540px;
    }
    .user-nav {
      display:flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      width: 500px;
      li {
        &:first-child {
          width: 280px;
        }
        &:nth-child(2) {
          width: 110px;
        }
        &:last-child {
          width: 110px;
          text-align: right;
        }
      }
    }
  }
  .site-nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-top: 20px;
    >li {
      &:first-child {
        width: 540px;
      }
      &:nth-child(2){
        width: 160px;
      }
      &:nth-child(3){
        width: 220px;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
.promo {
  ul {
    .promo-item {
      display: flex;
      position: relative;
      top: -106px;
      .promo-img-wrapper {
        width: 600px;
        border: 1px solid red;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      .promo-text-wrapper {
        width: 560px;
        border: 1px solid green;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        .promo-item__number {
          position: absolute;
          top: -20px;
          right: 50px;
        }
        .promo-item__slogan {
          z-index: 1;
        }
      }
    }
  }
}
.categories {
  &-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &-item {
    display: flex;
    border: 1px solid blue;
    &:hover {
      .img-wrapper {
        background-color: #f0c42e;
      }
    }
    &:active {
      .img-wrapper {
        background-color: #f0c42e;
      }
      p, img {
        opacity: .3;
      }
    }
    &__anchor {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 160px;
      height: 240px;
      p {
        order: 2;
      }
      .img-wrapper {
        width: 160px;
        height: 160px;
        order: 1;
        background-color: #f7e196;
        position: relative;
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
}
.services {
  background-color: #e5e5e5;
  &-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 320px;
  }
  &-slider {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 24px;
    color: rgb(0,0,0);
    font-family: "Gilroy";
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    li {
      margin: 15px 0;
    }
  }
  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 880px;
  }
  &-item {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    img{
      position: absolute;
      top: 81px;
      right: 65px;
    }
  }
}
.brands {
  &-list {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
}
.index-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .about-us {
    width: 600px;
  }
  .contacts {
    width: 560px;
  }
}
.main-footer {
  .footer-nav {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    &__row {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      align-items: baseline;
    }
    .user-nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      width: 480px;
    }
    .site-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        width: 440px;
    }
    .social {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      width:100%;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
      }
    }
  }

}
