body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  color: #000;
  background-color: #fff;
}
a {
  text-decoration: none;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.btn_style {
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  background-color: #f0c42e;
  border: none;
}
.main-header {
  background-color: #f7e196;
}
.site-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
}
.site-logo:hover {
  opacity: .6;
}
.site-logo:active {
  opacity: .3;
}
.search-form__input {
  border: none;
  background-color: inherit;
}
.search-form__input::placeholder {
  opacity: 6;
}
.search-form__input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
.search-form__input:focus ~ .search-form__btn {
  opacity: 1;
}
.search-form:hover .search-form__input::placeholder {
  opacity: 6;
}
.search-form__btn {
  border: 1px solid black;
  opacity: 0.0;
  cursor: pointer;
  background-color: inherit;
}
.search-form__btn:hover {
  opacity: 1;
  background-color: #000;
  color: #fff;
}
.search-form__btn:active {
  opacity: 1;
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
}
.user-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.user-nav__item:hover {
  opacity: 0.6;
}
.user-nav__item:active {
  opacity: .3;
}
.site-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}
.site-nav__catalog_key:hover .site-nav__catalog {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.site-nav__item:hover {
  opacity: .6;
}
.site-nav__item:active {
  opacity: .3;
}
.site-nav__catalog {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}
.site-nav__catalog li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 200px;
}
.site-nav__catalog a:hover {
  opacity: 0.6;
}
.site-nav__catalog a:active {
  opacity: .3;
}
.promo .promo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.promo .promo-list .promo-item__number {
  font-size: 179px;
  letter-spacing: 2px;
  line-height: 179px;
  color: #FFF;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.promo .promo-list .promo-item__slogan {
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.promo .promo-list .promo-item__desc {
  color: #464646;
}
.promo .promo-list .promo-item__table th {
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
}
.promo .promo-list .promo-item__table td {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}
.categories .categories-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.categories .categories-list .categories-item {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.services .services-item__name {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.services .services-item__desc {
  color: #464646;
}
.brands .brands-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.brands .brands-list__item {
  filter: grayscale(100%) opacity(20%);
}
.brands .brands-list__item:hover {
  filter: grayscale(0%) opacity(100%);
}
.about-us h2 {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 800;
}
.about-us__delivery-services {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.about-us p {
  color: #464646;
}
.contacts h2 {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 800;
}
.contacts p {
  color: #464646;
}
.main-footer {
  background-color: #454545;
  color: #ffffff;
}
.main-footer .site-logo {
  color: #ffc600;
}
.main-footer .user-nav__item {
  opacity: .7;
}
.main-footer .user-nav__item:hover {
  opacity: 1;
}
.main-footer .user-nav__item:active {
  opacity: .3;
}
.main-footer .site-nav {
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.main-footer .site-nav__item:hover {
  opacity: .6;
}
.main-footer .site-nav__item:active {
  opacity: .3;
}
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social__link img {
  opacity: .3;
}
.social__link img:hover {
  opacity: .6;
}
.social__link img:active {
  opacity: 1;
}
.copyright:hover {
  opacity: .6;
}
.copyright:active {
  opacity: .3;
}
.modal-write-us__form label {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.modal-write-us__form input {
  background-color: #f2f2f2;
  border: none;
}
.modal-write-us__form input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  opacity: .4;
}
.modal-write-us__form input:hover {
  background-color: #eaeaea;
}
.modal-write-us__form input:focus {
  background-color: inherit;
  outline: 3px solid #f7e296;
}
.modal-write-us__form input:invalid {
  background-color: #f5d9d9;
}
.modal .btn-close {
  opacity: .5;
  border: none;
  outline: none;
}
.modal .btn-close:hover {
  opacity: 1;
}
.modal .btn-close:active {
  opacity: .3;
}
body {
  min-width: 1200px;
  height: 2800px;
}
.main-header {
  height: 300px;
  background-color: #f7e196;
  margin-top: 40px !important;
  position: relative;
}
.container {
  width: 1160px;
  padding: 0;
  margin: 0 auto;
  border: 1px solid red;
}
.container_small {
  width: 1040px;
  padding: 0;
  margin: 0 auto;
  border: 1px dotted red;
}
.main-nav {
  padding-top: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.main-nav .site-logo {
  position: absolute;
  top: -25px;
  left: 58px;
}
.main-nav__row {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.main-nav__row .search-form {
  width: 540px;
}
.main-nav__row .user-nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 500px;
}
.main-nav__row .user-nav li:first-child {
  width: 280px;
}
.main-nav__row .user-nav li:nth-child(2) {
  width: 110px;
}
.main-nav__row .user-nav li:last-child {
  width: 110px;
  text-align: right;
}
.main-nav .site-nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 20px;
}
.main-nav .site-nav > li:first-child {
  width: 540px;
}
.main-nav .site-nav > li:nth-child(2) {
  width: 160px;
}
.main-nav .site-nav > li:nth-child(3) {
  width: 220px;
}
.main-nav .site-nav > li:last-child {
  text-align: right;
}
.promo ul .promo-item {
  display: flex;
  position: relative;
  top: -106px;
}
.promo ul .promo-item .promo-img-wrapper {
  width: 600px;
  border: 1px solid red;
}
.promo ul .promo-item .promo-img-wrapper img {
  display: block;
  margin: 0 auto;
}
.promo ul .promo-item .promo-text-wrapper {
  width: 560px;
  border: 1px solid green;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.promo ul .promo-item .promo-text-wrapper .promo-item__number {
  position: absolute;
  top: -20px;
  right: 50px;
}
.promo ul .promo-item .promo-text-wrapper .promo-item__slogan {
  z-index: 1;
}
.categories-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.categories-item {
  display: flex;
  border: 1px solid blue;
}
.categories-item:hover .img-wrapper {
  background-color: #f0c42e;
}
.categories-item:active .img-wrapper {
  background-color: #f0c42e;
}
.categories-item:active p,
.categories-item:active img {
  opacity: .3;
}
.categories-item__anchor {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 160px;
  height: 240px;
}
.categories-item__anchor p {
  order: 2;
}
.categories-item__anchor .img-wrapper {
  width: 160px;
  height: 160px;
  order: 1;
  background-color: #f7e196;
  position: relative;
}
.categories-item__anchor .img-wrapper img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.services {
  background-color: #e5e5e5;
}
.services-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 320px;
}
.services-slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.services-slider li {
  margin: 15px 0;
}
.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 880px;
}
.services-item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.services-item img {
  position: absolute;
  top: 81px;
  right: 65px;
}
.brands-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.index-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.index-row .about-us {
  width: 600px;
}
.index-row .contacts {
  width: 560px;
}
.main-footer .footer-nav {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}
.main-footer .footer-nav__row {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: baseline;
}
.main-footer .footer-nav .user-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 480px;
}
.main-footer .footer-nav .site-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 440px;
}
.main-footer .footer-nav .social {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
}
.main-footer .footer-nav .social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
